<h1><%= @program.name %></h1>

<div class="form-group">
  <% if @program.approved.nil? %>
    <%= link_to 'Одобрить',
                approve_admin_program_path(@program), method: :patch, class: 'btn btn-success' %>

    <%= link_to 'Отказать',
                reject_admin_program_path(@program), method: :patch, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to 'Этапы', admin_program_workouts_path(@program), class: 'btn btn-secondary' %>
</div>

<dl class="row">
  <dt class="col-sm-3">Описание</dt>
  <dd class="col-sm-9"><%= @program.preview %></dd>

  <dt class="col-sm-3">Подробное описание</dt>
  <dd class="col-sm-9"><%= @program.description %></dd>

  <dt class="col-sm-3">Цена</dt>
  <dd class="col-sm-9"><%= @program.price %></dd>

  <dt class="col-sm-3">Тип</dt>
  <dd class="col-sm-9"><%= @program.program_type.name %></dd>

  <% if @program.banner? %>
    <dt class="col-sm-3">Баннер</dt>
    <dd class="col-sm-9"><%= image_tag @program.banner_url %></dd>
  <% end %>
</dl>
