<h1>Клиенты <small class="text-muted"><%= @subscriptions.count %></small></h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Пользователь</th>
      <th>Статус</th>
      <th>Последнее сообщение</th>
    </tr>
  </thead>

  <tbody>
    <% @subscriptions.each_with_index do |subscription, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to subscription.user.full_name, [:trainer, subscription] %></td>
        <td><%= 'Статус' %></td>
        <td><%= 'Дата' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
