<nav class="navbar navbar-full navbar-light bg-faded">
  <div class="container">
    <%= link_to 'GetFit', admin_programs_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Программы', admin_programs_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Тренеры', admin_trainers_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Уведомления', admin_notifications_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <% if admin_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Выйти', destroy_admin_session_path, method: :delete, class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Войти', new_admin_session_path, class:'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
