<h1>Cтатистика</h1>

<%= form_tag trainer_statistics_path, method: :get do %>
  <div class="form-inline form-group">
    <div class="form-group">
      <%= text_field_tag :from, nil, placeholder: 'Начало', class: 'form-control input-date' %>
    </div>

    <div class="form-group">
      <%= text_field_tag :to, nil, placeholder: 'Конец', class: 'form-control input-date' %>
    </div>

    <%= submit_tag 'Поиск', class: 'btn btn-primary' %>
  </div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>№</th>
      <th>Программа</th>
      <th>Количество</th>
      <th>Прибыль от продаж</th>
    </tr>
  </thead>

  <tbody>
    <% @statistics.programs.each do |program| %>
      <tr>
        <td><%= program.id %></td>
        <td><%= program.name %></td>
        <td><%= program.users_count %></td>
        <td><%= program.revenue %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<table class="table">
  <tr>
    <td>Прибыль</td>
    <td><%= @statistics.revenue %></td>
  </tr>
  <tr>
    <td>Количество подписчиков</td>
    <td><%= @statistics.subscribers_count %></td>
  </tr>
</table>
