<h1>Программы</h1>

<div class="form-group">
  <%= link_to 'Новая программа', new_trainer_program_path, class: 'btn btn-primary' %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Тип</th>
      <th>Статус</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @programs.each do |program| %>
      <tr>
        <td><%= link_to program.name, [:trainer, program] %></td>
        <td><%= truncate(program.preview, length: 20) %></td>
        <td><%= program.price %></td>
        <td><%= program.program_type&.name %></td>
        <td><%= status_for_program(program) %></td>
        <td><%= link_to 'Изменить', edit_trainer_program_path(program), class: 'btn btn-secondary btn-sm' %></td>
        <td><%= link_to 'Удалить', [:trainer, program], method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
