<h1><%= @program.name %></h1>

<div class="form-group">
  <%= link_to 'Изменить', edit_trainer_program_path, class: 'btn btn-default' %>
  <%= link_to 'Этапы', trainer_program_workouts_path(@program), class: 'btn btn-default' %>

  <% if @program.subscription.present? %>
    <%= link_to 'Уведомить об изменениях',
                trainer_subscription_user_notifications_path(@program.subscription),
                method: :post,
                class: 'btn btn-primary' %>
  <% end %>
</div>

<p>
  <strong>Описание</strong>: <%= @program.preview %>
</p>

<p>
  <strong>Подробное описание</strong>: <%= @program.description %>
</p>

<p>
  <strong>Баннер</strong>: <%= image_tag(@program.banner) if @program.banner? %>
</p>

<p>
  <strong>Длительность</strong>: <%= @program.duration %>
</p>

<p>
  <strong>Цена</strong>: <%= @program.price %>
</p>

<p>
  <strong>Тип программы</strong>: <%= @program.program_type_id %>
</p>
