<nav class="navbar navbar-full navbar-light bg-faded">
  <div class="container">
    <%= link_to 'GetFit', trainer_programs_path, class: 'navbar-brand' %>
    <ul class="nav navbar-nav">
      <% if trainer_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Программы', trainer_programs_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Типы упражнений', trainer_exercise_types_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Новости', trainer_posts_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Клиенты', trainer_subscriptions_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Статистика', trainer_statistics_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
    <ul class="nav navbar-nav pull-xs-right">
      <% if trainer_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Профиль', edit_trainer_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Выйти', destroy_trainer_session_path, method: :delete, class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Войти', new_trainer_session_path, class:'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
