<h1>Тренеры</h1>

<table class="table">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Номер телефона</th>
      <th>Специализация</th>
      <th>Категория</th>
      <th>Рейтинг</th>
      <th>Фото</th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= link_to trainer.full_name, [:admin, trainer] %></td>
        <td><%= trainer.phone_number %></td>
        <td><%= trainer.specialization.name %></td>
        <td><%= trainer.category %></td>
        <td><%= trainer.rating %></td>
        <td><%= image_tag trainer.avatar_url %></td>
      </tr>
    <% end %>
  </tbody>
</table>
