<h1><%= @trainer.full_name %></h1>

<dl class="row">
  <dt class="col-sm-3">Номер телефона</dt>
  <dd class="col-sm-9"><%= @trainer.phone_number %></dd>

  <dt class="col-sm-3">Специализация</dt>
  <dd class="col-sm-9"><%= @trainer.specialization.name %></dd>

  <dt class="col-sm-3">Категория</dt>
  <dd class="col-sm-9"><%= @trainer.category %></dd>

  <dt class="col-sm-3">Рейтинг</dt>
  <dd class="col-sm-9"><%= @trainer.rating %></dd>
</dl>
