<h1><%= @trainer.full_name %></h1>

<dl class="row">
  <dt class="col-sm-3">Номер телефона</dt>
  <dd class="col-sm-9"><%= @trainer.phone_number %></dd>

  <dt class="col-sm-3">Специализация</dt>
  <dd class="col-sm-9"><%= @trainer.specialization.name %></dd>

  <dt class="col-sm-3">Категория</dt>
  <dd class="col-sm-9"><%= @trainer.category %></dd>

  <dt class="col-sm-3">Рейтинг</dt>
  <dd class="col-sm-9"><%= @trainer.rating %></dd>
</dl>

<h2>Программы <small class="text-muted"><%= @programs.count %></small></h2>

<%= render 'admin/programs/programs' %>

<h2>Клиенты <small class="text-muted"><%= @subscriptions.count %></small></h2>

<%= render 'admin/subscriptions/subscriptions' %>
